@import "mixins";

.burgers {
  margin:0 auto 150px;
  max-width: 1373px;
  @include flex-column-center;

  &__wrapper {
    display: flex;
    justify-content: space-between;
    gap: 16px;
  }

  &__title {
    text-align: center;
    @include title;
  }

  &__swiper-container {
    max-width: 1372px;
    padding: 50px 0;
    box-shadow: inset 0 0 49px 25px rgba(255,255,255,0.8);
    overflow: hidden;
  }
  &__swiper-slide {
    left: 4px;
  }

  &__box {
    @include flex-column-center;
    max-width: 440px;
    background: #FFFFFF 0 0 no-repeat padding-box;
    box-shadow: 0 3px 6px #00000029;
    border-radius: 26px;

    &__title {
      margin: 20px 0 61px;
      @include textProp(24px, 35px, 700)
    }

    &:hover {
      transition: 250ms ease-in-out;
      transform: scale(1.05);
    }
  }

  &__image {
    display: flex;

    &__img {
      max-width: 220px;
      object-fit: cover;
      padding:61px 110px 42px;
    }
  }

  &__link {
    margin: 0 20px 20px 0;
    @include textProp(18px, 27px, 700);
    color: #008BF6;
    align-self: flex-end;
    &:hover {
      transition: 250ms ease-in-out;
      transform: scale(1.1);
    }
    &:active {
      transition: 50ms ease-in-out;
      transform: scale(1.2);
    }
  }

  &__btn {
    @include button-order;
    &:hover {
      transition: 250ms ease-in-out;
      transform: scale(1.05);
      border: 1px black solid;
      box-shadow: 0 3px 6px #00000029;
      &:active {
        transition: 50ms ease-in-out;
        transform: scale(1.1);
        border: 1px black solid;
        box-shadow: 0 3px 6px #00000029;
      }
    }
  }
}

@media screen and (max-width: 1380px) {
  .burgers {
    &__wrapper {
      max-width: 880px;

    }

    &__swiper-container {
      max-width: 880px;
    }

    &__swiper-slide {
      max-width: 260px;
      left: 75px;
    }

    &__image {
      &__img {
        padding:0;
      }
    }

    &__box {
      &__title {
        margin: 20px 0 31px;
      }
    }
  }
}
