@import "mixins";

.footer {
  display: flex;
  overflow: hidden;
  align-items: center;
  background: #F5F5F5 0 0 no-repeat padding-box;
  margin: 0 auto 150px;

  &__wrapper {
    margin: 29px 0;
    display: flex;
    gap: 1013px;
    align-items: center;
  }

  &__logo {
    display: flex;
    cursor: pointer;

    &__image {
      max-width: 208px;
      object-fit: cover;
    }
  }

  &__box {
    width: 131px;
  }



  &__text {
    @include textProp(14px, 21px, 400);
    &:first-child {
      @include textProp(14px, 21px, 700);
    }
  }
}

@media screen and (max-width: 1380px) {
  .footer {
    //max-width: 1380px;
    &__wrapper {
      gap: 783px;
    }
  }
}

@media screen and (max-width: 1080px) {
  .footer {
    //max-width: 1080px;
    &__wrapper {
      gap: 435px;
    }
  }
}

@media screen and (max-width: 780px) {
  .footer {
    //max-width: 765px;
    &__wrapper {
      gap: 90px;
    }

    &__logo {
      &__image {
        max-width: 250px;
      }
    }
  }
}

@media screen and (max-width: 500px) {
  .footer {
    //max-width: 500px;
    margin-bottom: 0;
    &__wrapper {
      gap: 35px;
    }

    &__logo {
      &__image {
        max-width: 150px;
      }
    }
  }
}
