@import "mixins";


.header {
  max-width: 1920px;
  width: 100%;
  position: fixed;
  left: 50%;
  top: 0;
  transform: translateX(-50%);
  background-color: #FFFFFF;
  z-index: 99;
  display: flex;
  //justify-content: flex-start;
  align-items: center;
  -webkit-box-shadow: 0 5px 25px 25px rgba(255,255,255,1);
  -moz-box-shadow: 0 5px 25px 25px rgba(255,255,255,1);
  box-shadow: 0 5px 25px 25px rgba(255,255,255,1);

  &__wrapper {
    margin: 29px 0 0;
    display: flex;
    align-items: center;
  }
  &__logo {
    display: flex;
    cursor: pointer;

    &__image {
      max-width: 208px;
      object-fit: cover;
    }
  }

  &__box {
    margin-left: 102px;
    display: flex;
    display: -webkit-flex;
    align-items: center;
    justify-content: space-between;
    gap: 70px;
  }

  &__link {
    //padding: 3px 5px;
    border-radius: 5px;
    @include textProp(18px, 27px, 700);
    cursor: pointer;
    &:hover {
      transition: 250ms ease-in-out;
      transform: scale(1.1);
    }
    &__active {
      transform: scale(1.1);
    }
  }

  &__button {
    margin-left: 329px;
    cursor: pointer;
    @include button-order;
    &:hover {
      transition: 250ms ease-in-out;
      transform: scale(1.05);
      border: 1px black solid;
      box-shadow: 0 3px 6px #00000029;
    }
    &:active {
      transition: 50ms ease-in-out;
      transform: scale(1.1);
      border: 1px black solid;
      box-shadow: 0 3px 6px #00000029;
    }
  }
}

@media screen and (max-width: 1380px) {
  .header {
    &__wrapper {
      max-width: 1065px;
    }
    &__box {
      gap: 35px
    }

    &__button {
      margin-left: 129px;
    }
  }

}

@media screen and (max-width: 1080px) {
  .header {
    max-width: 1080px;
    &__wrapper {
      max-width: 765px;
    }
    &__box {
      margin-left: 35px;
      gap: 20px
    }
    &__link {
      @include textProp(14px, 23px, 700);
    }

    &__button {
      margin-left: 69px;
      padding: 6px 21px 6px 21px;
      @include textProp(14px, 23px, 700);
    }
  }
}

@media screen and (max-width: 765px) {
  .header {
    max-width: 765px;
    &__wrapper {
      max-width: 500px;
    }

    &__logo {
      align-items: flex-start;

      &__image {
        max-width: 100px;
      }
    }

    &__box {
      margin-left: 25px;
      gap: 15px
    }
    &__link {
      @include textProp(10px, 18px, 700);
    }

    &__button {
      margin-left: 43px;
      padding: 5px 18px 5px 18px;
      @include textProp(10px, 18px, 700);
      &:hover {
        transition: 250ms ease-in-out;
        transform: scale(1);
      }
      &__active {
        transform: scale(1.01);
      }
    }
  }

}

