@import "mixins";

.ingredients {
  margin: 0 auto 150px;
  @include flex-column-center;

  &__wrapper {
    max-width: 1072px;
    @include flex-column-center;

  }

  &__title {
    @include title;
    text-align: center;
    margin-bottom: 20px;

    &__text {
      @include textProp(24px, 35px, bold);
      text-align: center;
      max-width: 690px;
    }
  }

  &__swiper-container {
    //max-width: 1200px;

  }

  &__swiper-slide {
    max-width: 281px;
    right: 0;
  }

  &__box {
    position: relative;
    overflow: hidden;
    max-width: 1373px;
    padding: 50px 0;

    &__card-title {
      @include textProp(18px, 27px, 700);
      padding-bottom: 20px;
    }

    &__card {
      margin: 15px 0;
      @include flex-column-center;
      justify-content: space-between;
      max-width: 229px;
      height: 242px;
      background: #FFFFFF 0 0 no-repeat padding-box;
      box-shadow: 0 3px 6px #00000029;
      border-radius: 26px;
      z-index: 1;

      &:hover {
        transition: 250ms ease-in-out;
        transform: scale(1.05);
      }
    }
  }

  &__shadow {
    position: absolute;
    z-index: 2;
    left: 0;
    width: 184px;
    height: 302px;
    transform: matrix(-1, 0, 0, -1, 0, 0);
    /* UI Properties */
    background: transparent linear-gradient(270deg, #FFFFFF 0, #FFFFFF00 100%) 0 0 no-repeat padding-box;
    &-right {
      position: absolute;
      z-index: 2;
      width: 184px;
      height: 302px;
      right: -1px;
      transform: matrix(-1, 0, 0, -1, 0, 0);
      background: transparent linear-gradient(90deg, #ffffff 0, #FFFFFF00 100%) 0 0 no-repeat padding-box;
    }
  }

  &__image-box {
    padding-top: 20px;
    display: flex;
    align-items: flex-start;

    &__image {
      max-width: 194px;
      object-fit: cover;
    }
  }

  &__text {
    @include textProp(18px, 27px, normal);
    text-align: center;
  }
}

@media screen and (max-width: 1380px) {
  .ingredients {
   max-width: 1380px;
  }
}

@media screen and (max-width: 1080px) {
  .ingredients {
    max-width: 1080px;

    &__title {
      @include textProp(45px, 55px, 900);
      margin-bottom: 14px;

      &__text {
        @include textProp(14px, 25px, bold);
        max-width: 400px;
      }
    }

    &__swiper-container {
      max-width: 600px;

    }

    &__swiper-slide {
      max-width: 281px;
      right: 70px;
    }

    &__box {
      overflow: hidden;
      max-width: 600px;
      padding: 30px 0;

      &__card-title {
        @include textProp(14px, 22px, 700);
        padding-bottom: 10px;
      }

      &__card {
        max-width: 140px;
        max-height: 162px;

      }
    }
    &__image-box img {
        max-width: 100px !important;
    }

    &__text {
      max-width: 760px;
      @include textProp(14px, 25px, 400);
    }
  }
}


@media screen and (max-width: 780px) {
  .ingredients {
    max-width: 765px;
    margin: 0 auto 50px;

    &__title {
      @include textProp(35px, 35px, 900);
      margin-bottom: 14px;

      &__text {
        @include textProp(12px, 18px, bold);
        max-width: 400px;
      }
    }

    &__swiper-container {
      max-width: 450px;

    }

    &__swiper-slide {
      max-width: 281px;
      right: -5px;
    }

    &__box {
      overflow: hidden;
      max-width: 600px;
      padding: 30px 0;

      &__card-title {
        @include textProp(14px, 22px, 700);
        padding-bottom: 10px;
      }

      &__card {
        max-width: 140px;
        max-height: 162px;

      }
    }
    &__image-box img {
      max-width: 100px !important;
    }

    &__text {
      max-width: 510px;
      @include textProp(12px, 18px, 40);
    }
  }
}

@media screen and (max-width: 500px) {
  .ingredients {
    max-width: 400px;
    margin: 0 auto 50px;

    &__title {
      @include textProp(35px, 35px, 900);
      margin-bottom: 14px;

      &__text {
        @include textProp(12px, 18px, bold);
        max-width: 360px;
      }
    }

    &__swiper-container {
      max-width: 380px;

    }

    &__swiper-slide {
      margin-left: 5px;
      max-width: 281px;
      right: 15px;
    }

    &__box {
      overflow: hidden;
      max-width: 380px;
      padding: 30px 0;

      &__card-title {
        @include textProp(14px, 22px, 700);
        padding-bottom: 10px;
      }

      &__card {
        max-width: 140px;
        max-height: 162px;

      }
    }
    &__image-box img {
      max-width: 100px !important;
    }

    &__text {
      max-width: 360px;
      @include textProp(12px, 18px, 40);
    }
  }
}

