@import "mixins";

.ingredients {
  margin: 0 auto 150px;
  @include flex-column-center;

  &__wrapper {
    max-width: 1072px;
    @include flex-column-center;

  }

  &__title {
    @include title;
    text-align: center;
    margin-bottom: 20px;

    &__text {
      @include textProp(24px, 35px, bold);
      text-align: center;
      max-width: 690px;
      margin-bottom: 50px;
    }
  }

  &__swiper-container {
    max-width: 1072px;
  }

  &__swiper-slide {
    max-width: 281px;
    right: 125px;
  }

  &__box {
    overflow: hidden;
    max-width: 1373px;
    margin-bottom: 50px;

    &__card-title {
      @include textProp(18px, 27px, 700);
      padding-bottom: 20px;
    }

    &__card {
      margin: 15px 0;
      @include flex-column-center;
      justify-content: space-between;
      max-width: 229px;
      height: 242px;
      background: #FFFFFF 0 0 no-repeat padding-box;
      box-shadow: 0 3px 6px #00000029;
      border-radius: 26px;

      &:hover {
        transition: 250ms ease-in-out;
        transform: scale(1.05);
      }
    }

  }

  &__image-box {
    padding-top: 20px;
    display: flex;

    &__image {
      max-width: 194px;
      object-fit: cover;
    }
  }

  &__text {
    @include textProp(18px, 27px, normal);
    text-align: center;
  }
}

@media screen and (max-width: 1380px) {
  .ingredients {
   max-width: 1380px;
  }
}
