@import "mixins";

.main {
  margin: 0 auto;
  position: relative;
  margin-top: 125px;
  margin-bottom: 150px;
  display: flex;
  flex-direction: column;
  align-items: center;

  &__background {
    position: absolute;
    max-height: 604px;
    z-index: -1;
  }

  &__wrapper {
    display: flex;
    justify-content: space-between;
    gap: 67px;
    padding-top: 49px;
  }

  &__box {
    padding-top: 142px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  &__title {
    @include textProp(84px, 125px, 900);
    margin-bottom: 20px;
  }

  &__text {
    @include textProp(24px, 35px, bold);
    margin-bottom: 20px;
  }

  &__button {
    padding: 8px 26px 7px 27px;
    background: #F6E224 0 0 no-repeat padding-box;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    @include textProp(18px, 27px, bold);
    &:hover {
      transition: 250ms ease-in-out;
      transform: scale(1.05);
      border: 1px black solid;
      box-shadow: 0 3px 6px #00000029;
    }
    &:active {
      transition: 50ms ease-in-out;
      transform: scale(1.1);
      border: 1px black solid;
      box-shadow: 0 3px 6px #00000029;
    }
  }

  &__logo {
    display: flex;
    &__image {
      max-width: 625px;
      width: 100%;
      object-fit: cover;
    }
  }
}

@media screen and (max-width: 1380px) {
  .main {
    margin-bottom: 50px;
    max-width: 1380px;

    &__wrapper {
      max-width: 1065px;
    }

    &__title {
      @include textProp(80px, 120px, 900);
      margin-bottom: 20px;
    }


    &__background {
      max-width: 1380px;
    }

    &__wrapper {
      gap: 0;
    }

    &__box {
      padding-top: 82px;

    }

    &__logo {
      &__image {
        max-width: 470px;
      }
    }

  }
}
