@import "mixins";

.main {
  margin: 0 auto;
  position: relative;
  margin-top: 125px;
  margin-bottom: 150px;
  display: flex;
  flex-direction: column;
  align-items: center;

  &__background {
    position: absolute;
    overflow: hidden;
    max-width: 1920px;
    z-index: -1;
    &__image {
      max-height: 604px;
    }
  }

  &__wrapper {
    display: flex;
    justify-content: space-between;
    gap: 67px;
    padding-top: 49px;
  }

  &__box {
    padding-top: 142px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  &__title {
    @include textProp(84px, 125px, 900);
    margin-bottom: 20px;
  }

  &__text {
    @include textProp(24px, 35px, bold);
    margin-bottom: 20px;
  }

  &__button {
    padding: 8px 26px 7px 27px;
    background: #F6E224 0 0 no-repeat padding-box;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    @include textProp(18px, 27px, bold);
    &:hover {
      transition: 250ms ease-in-out;
      transform: scale(1.05);
      border: 1px black solid;
      box-shadow: 0 3px 6px #00000029;
    }
    &:active {
      transition: 50ms ease-in-out;
      transform: scale(1.1);
      border: 1px black solid;
      box-shadow: 0 3px 6px #00000029;
    }
  }

  &__logo {
    display: flex;
    align-items: flex-start;

    &__image {
      max-width: 625px;
      width: 100%;
      object-fit: cover;
    }
  }
}

@media screen and (max-width: 1380px) {
  .main {
    margin-bottom: 50px;
    max-width: 1380px;

    &__wrapper {
      max-width: 1065px;
    }

    &__title {
      @include textProp(75px, 120px, 900);
      margin-bottom: 20px;
    }

    &__background {
      max-width: 1380px;
      &__image {
        max-width: 1380px;
      }
    }

    &__wrapper {
      gap: 0;
    }

    &__box {
      padding-top: 82px;
    }

    &__logo {
      &__image {
        max-width: 470px;
      }
    }
  }
}

@media screen and (max-width: 1080px) {
  .main {
    margin-bottom: 50px;
    max-width: 1080px;

    &__wrapper {
      max-width: 765px;
    }

    &__title {
      @include textProp(55px, 70px, 900);
      margin-bottom: 20px;
    }

    &__text {
      @include textProp(14px, 25px, bold);
    }

    &__button {
      padding: 8px 26px 7px 27px;
      @include textProp(14px, 23px, bold);
    }

    &__background {
      max-width: 1080px;
      &__image {
        max-width: 1080px;
      }
    }

    &__wrapper {
      gap: 0;
    }

    &__box {
      padding-top: 50px;
    }

    &__logo {
      &__image {
        max-width: 320px;
      }
    }
  }
}

@media screen and (max-width: 780px) {
  .main {
    margin: 85px 0 50px;
    max-width: 765px;

    &__wrapper {
      max-width: 600px;
      width: 600px;
      padding-top: 20px;
    }

    &__title {
      @include textProp(40px,45px, 900);
      margin-bottom: 10px;
      white-space: nowrap;
    }

    &__text {
      @include textProp(12px, 20px, bold);
    }

    &__button {
      padding: 8px 26px 7px 27px;
      @include textProp(12px, 20px, bold);
    }

    &__background {
      max-width: 765px;
      &__image {
        max-width: 765px;
      }
    }


    &__box {
      padding-top: 20px;
    }

    &__logo {
      &__image {
        max-width: 245px;
      }
    }
  }
}

@media screen and (max-width: 500px) {
  .main {
    margin: 135px 0 50px;
    max-width: 400px;

    &__wrapper {
      max-width: 380px;
      justify-content: center;
      //width: 600px;
      padding-top: 0;
      position: relative;
    }

    &__title {
      @include textProp(40px,45px, 900);
      margin-bottom: 0;
      white-space: nowrap;
      z-index: 2;
    }

    &__text {
      @include textProp(12px, 20px, bold);
      align-self: flex-end;
      z-index: 2;
      margin-bottom: 270px;

    }

    &__button {
      padding: 12px 90px;
      @include textProp(12px, 20px, bold);
      z-index: 2;

    }

    &__background {
      max-width: 400px;
      &__image {
        width: 1000px;
      }
    }


    &__box {
      padding-top: 20px;
      margin-bottom: 10px;
    }

    &__logo {
      position: absolute;
      z-index: 1;
      top: 15px;
      left: 50%;
      transform: translateX(-50%);
      &__image {
        max-width: 580px;
        width: 300px;
      }
    }
  }
}

