@import "stylesheets/reset.css";
@import "~@tomtom-international/web-sdk-maps/dist/maps.css";
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700;900&display=swap");
.header {
  max-width: 1920px;
  width: 100%;
  position: fixed;
  left: 50%;
  top: 0;
  transform: translateX(-50%);
  background-color: #FFFFFF;
  z-index: 99;
  display: flex;
  align-items: center;
  -webkit-box-shadow: 0 5px 25px 25px rgb(255, 255, 255);
  -moz-box-shadow: 0 5px 25px 25px rgb(255, 255, 255);
  box-shadow: 0 5px 25px 25px rgb(255, 255, 255);
}
.header__wrapper {
  margin: 29px 0 0;
  display: flex;
  align-items: center;
}
.header__logo {
  display: flex;
  cursor: pointer;
}
.header__logo__image {
  max-width: 208px;
  object-fit: cover;
}
.header__box {
  margin-left: 102px;
  display: flex;
  display: -webkit-flex;
  align-items: center;
  justify-content: space-between;
  gap: 70px;
}
.header__link {
  border-radius: 5px;
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 27px;
  font-style: normal;
  letter-spacing: 0;
  color: #2A2A2A;
  cursor: pointer;
}
.header__link:hover {
  transition: 250ms ease-in-out;
  transform: scale(1.1);
}
.header__link__active {
  transform: scale(1.1);
}
.header__button {
  margin-left: 329px;
  cursor: pointer;
  padding: 9px 29px 6px 33px;
  max-width: 161px;
  width: 100%;
  background: #00B3FA;
  border-radius: 10px;
  border: none;
  text-align: center;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  letter-spacing: 0;
  color: #2A2A2A;
}
.header__button:hover {
  transition: 250ms ease-in-out;
  transform: scale(1.05);
  border: 1px black solid;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1607843137);
}
.header__button:active {
  transition: 50ms ease-in-out;
  transform: scale(1.1);
  border: 1px black solid;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1607843137);
}

@media screen and (max-width: 1380px) {
  .header__wrapper {
    max-width: 1065px;
  }
  .header__box {
    gap: 35px;
  }
  .header__button {
    margin-left: 129px;
  }
}
@media screen and (max-width: 1080px) {
  .header {
    max-width: 1080px;
  }
  .header__wrapper {
    max-width: 765px;
  }
  .header__box {
    margin-left: 35px;
    gap: 20px;
  }
  .header__link {
    font-family: "Poppins", sans-serif;
    font-size: 14px;
    font-weight: 700;
    line-height: 23px;
    font-style: normal;
    letter-spacing: 0;
    color: #2A2A2A;
  }
  .header__button {
    margin-left: 69px;
    padding: 6px 21px 6px 21px;
    font-family: "Poppins", sans-serif;
    font-size: 14px;
    font-weight: 700;
    line-height: 23px;
    font-style: normal;
    letter-spacing: 0;
    color: #2A2A2A;
  }
}
@media screen and (max-width: 780px) {
  .header {
    max-width: 765px;
  }
  .header__wrapper {
    max-width: 500px;
  }
  .header__logo {
    align-items: flex-start;
  }
  .header__logo__image {
    max-width: 100px;
  }
  .header__box {
    margin-left: 25px;
    gap: 15px;
  }
  .header__link {
    font-family: "Poppins", sans-serif;
    font-size: 10px;
    font-weight: 700;
    line-height: 18px;
    font-style: normal;
    letter-spacing: 0;
    color: #2A2A2A;
  }
  .header__button {
    margin-left: 43px;
    padding: 5px 18px 5px 18px;
    font-family: "Poppins", sans-serif;
    font-size: 10px;
    font-weight: 700;
    line-height: 18px;
    font-style: normal;
    letter-spacing: 0;
    color: #2A2A2A;
  }
  .header__button:hover {
    transition: 250ms ease-in-out;
    transform: scale(1);
  }
  .header__button__active {
    transform: scale(1.01);
  }
}
@media screen and (max-width: 500px) {
  .header {
    max-width: 500px;
  }
  .header__wrapper {
    margin-top: 10px;
    width: 360px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-row-gap: 25px;
  }
  .header__logo {
    grid-column: 1/2;
    margin-left: 5px;
  }
  .header__logo__image {
    max-width: 150px;
  }
  .header__box {
    grid-column: 1/3;
    grid-row: 2/3;
    margin-left: 0;
    gap: 15px;
    justify-content: space-evenly;
  }
  .header__link {
    font-family: "Poppins", sans-serif;
    font-size: 14px;
    font-weight: 700;
    line-height: 18px;
    font-style: normal;
    letter-spacing: 0;
    color: #2A2A2A;
  }
  .header__button {
    grid-column: 2/3;
    grid-row: 1/2;
    margin-left: 0;
    padding: 9px 0;
    background: #00B3FA;
    border-radius: 10px;
    border: none;
    text-align: center;
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    letter-spacing: 0;
    color: #2A2A2A;
  }
  .header__button:hover {
    transition: 250ms ease-in-out;
    transform: scale(1);
  }
  .header__button__active {
    transform: scale(1.01);
  }
}
.footer {
  max-width: 1920px;
  width: 100%;
  align-items: center;
  background: #F5F5F5 0 0 no-repeat padding-box;
  margin: 0 auto 150px;
}
.footer__wrapper {
  padding: 15px 284px;
  margin: 29px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer__logo {
  display: flex;
  cursor: pointer;
}
.footer__logo__image {
  max-width: 208px;
  object-fit: cover;
}
.footer__box {
  width: 131px;
}
.footer__text {
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  font-style: normal;
  letter-spacing: 0;
  color: #2A2A2A;
}
.footer__text:first-child {
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  font-weight: 700;
  line-height: 21px;
  font-style: normal;
  letter-spacing: 0;
  color: #2A2A2A;
}

@media screen and (max-width: 1380px) {
  .footer__wrapper {
    padding: 15px 155px;
  }
}
@media screen and (max-width: 1080px) {
  .footer__wrapper {
    padding: 15px 70px;
  }
}
@media screen and (max-width: 780px) {
  .footer__wrapper {
    gap: 210px;
  }
  .footer__logo__image {
    max-width: 250px;
  }
}
@media screen and (max-width: 500px) {
  .footer {
    margin-bottom: 0;
  }
  .footer__wrapper {
    gap: 35px;
  }
  .footer__logo__image {
    max-width: 150px;
  }
}
.main {
  margin: 0 auto;
  position: relative;
  margin-top: 125px;
  margin-bottom: 150px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.main__background {
  position: absolute;
  overflow: hidden;
  max-width: 1920px;
  z-index: -1;
}
.main__background__image {
  max-height: 604px;
}
.main__wrapper {
  display: flex;
  justify-content: space-between;
  gap: 67px;
  padding-top: 49px;
}
.main__box {
  padding-top: 142px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.main__title {
  font-family: "Poppins", sans-serif;
  font-size: 84px;
  font-weight: 900;
  line-height: 125px;
  font-style: normal;
  letter-spacing: 0;
  color: #2A2A2A;
  margin-bottom: 20px;
}
.main__text {
  font-family: "Poppins", sans-serif;
  font-size: 24px;
  font-weight: bold;
  line-height: 35px;
  font-style: normal;
  letter-spacing: 0;
  color: #2A2A2A;
  margin-bottom: 20px;
}
.main__button {
  padding: 8px 26px 7px 27px;
  background: #F6E224 0 0 no-repeat padding-box;
  border-radius: 10px;
  border: none;
  cursor: pointer;
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  font-weight: bold;
  line-height: 27px;
  font-style: normal;
  letter-spacing: 0;
  color: #2A2A2A;
}
.main__button:hover {
  transition: 250ms ease-in-out;
  transform: scale(1.05);
  border: 1px black solid;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1607843137);
}
.main__button:active {
  transition: 50ms ease-in-out;
  transform: scale(1.1);
  border: 1px black solid;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1607843137);
}
.main__logo {
  display: flex;
  align-items: flex-start;
}
.main__logo__image {
  max-width: 625px;
  width: 100%;
  object-fit: cover;
}

@media screen and (max-width: 1380px) {
  .main {
    margin-bottom: 50px;
    max-width: 1380px;
  }
  .main__wrapper {
    max-width: 1065px;
  }
  .main__title {
    font-family: "Poppins", sans-serif;
    font-size: 75px;
    font-weight: 900;
    line-height: 120px;
    font-style: normal;
    letter-spacing: 0;
    color: #2A2A2A;
    margin-bottom: 20px;
  }
  .main__background {
    max-width: 1380px;
  }
  .main__background__image {
    max-width: 1380px;
  }
  .main__wrapper {
    gap: 0;
  }
  .main__box {
    padding-top: 82px;
  }
  .main__logo__image {
    max-width: 470px;
  }
}
@media screen and (max-width: 1080px) {
  .main {
    margin-bottom: 50px;
    max-width: 1080px;
  }
  .main__wrapper {
    max-width: 765px;
  }
  .main__title {
    font-family: "Poppins", sans-serif;
    font-size: 55px;
    font-weight: 900;
    line-height: 70px;
    font-style: normal;
    letter-spacing: 0;
    color: #2A2A2A;
    margin-bottom: 20px;
  }
  .main__text {
    font-family: "Poppins", sans-serif;
    font-size: 14px;
    font-weight: bold;
    line-height: 25px;
    font-style: normal;
    letter-spacing: 0;
    color: #2A2A2A;
  }
  .main__button {
    padding: 8px 26px 7px 27px;
    font-family: "Poppins", sans-serif;
    font-size: 14px;
    font-weight: bold;
    line-height: 23px;
    font-style: normal;
    letter-spacing: 0;
    color: #2A2A2A;
  }
  .main__background {
    max-width: 1080px;
  }
  .main__background__image {
    max-width: 1080px;
  }
  .main__wrapper {
    gap: 0;
  }
  .main__box {
    padding-top: 50px;
  }
  .main__logo__image {
    max-width: 320px;
  }
}
@media screen and (max-width: 780px) {
  .main {
    margin: 85px 0 50px;
    max-width: 765px;
  }
  .main__wrapper {
    max-width: 600px;
    width: 600px;
    padding-top: 20px;
  }
  .main__title {
    font-family: "Poppins", sans-serif;
    font-size: 40px;
    font-weight: 900;
    line-height: 45px;
    font-style: normal;
    letter-spacing: 0;
    color: #2A2A2A;
    margin-bottom: 10px;
    white-space: nowrap;
  }
  .main__text {
    font-family: "Poppins", sans-serif;
    font-size: 12px;
    font-weight: bold;
    line-height: 20px;
    font-style: normal;
    letter-spacing: 0;
    color: #2A2A2A;
  }
  .main__button {
    padding: 8px 26px 7px 27px;
    font-family: "Poppins", sans-serif;
    font-size: 12px;
    font-weight: bold;
    line-height: 20px;
    font-style: normal;
    letter-spacing: 0;
    color: #2A2A2A;
  }
  .main__background {
    max-width: 765px;
  }
  .main__background__image {
    max-width: 765px;
  }
  .main__box {
    padding-top: 20px;
  }
  .main__logo__image {
    max-width: 245px;
  }
}
@media screen and (max-width: 500px) {
  .main {
    margin: 135px 0 50px;
    max-width: 400px;
  }
  .main__wrapper {
    max-width: 380px;
    justify-content: center;
    padding-top: 0;
    position: relative;
  }
  .main__title {
    font-family: "Poppins", sans-serif;
    font-size: 40px;
    font-weight: 900;
    line-height: 45px;
    font-style: normal;
    letter-spacing: 0;
    color: #2A2A2A;
    margin-bottom: 0;
    white-space: nowrap;
    z-index: 2;
  }
  .main__text {
    font-family: "Poppins", sans-serif;
    font-size: 12px;
    font-weight: bold;
    line-height: 20px;
    font-style: normal;
    letter-spacing: 0;
    color: #2A2A2A;
    align-self: flex-end;
    z-index: 2;
    margin-bottom: 270px;
  }
  .main__button {
    padding: 12px 90px;
    font-family: "Poppins", sans-serif;
    font-size: 12px;
    font-weight: bold;
    line-height: 20px;
    font-style: normal;
    letter-spacing: 0;
    color: #2A2A2A;
    z-index: 2;
  }
  .main__background {
    max-width: 400px;
  }
  .main__background__image {
    width: 1000px;
  }
  .main__box {
    padding-top: 20px;
    margin-bottom: 10px;
  }
  .main__logo {
    position: absolute;
    z-index: 1;
    top: 15px;
    left: 50%;
    transform: translateX(-50%);
  }
  .main__logo__image {
    max-width: 580px;
    width: 300px;
  }
}
.ingredients {
  margin: 0 auto 150px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.ingredients__wrapper {
  max-width: 1072px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.ingredients__title {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 64px;
  line-height: 95px;
  letter-spacing: 0;
  color: #2A2A2A;
  text-align: center;
  margin-bottom: 20px;
}
.ingredients__title__text {
  font-family: "Poppins", sans-serif;
  font-size: 24px;
  font-weight: bold;
  line-height: 35px;
  font-style: normal;
  letter-spacing: 0;
  color: #2A2A2A;
  text-align: center;
  max-width: 690px;
}
.ingredients__swiper-slide {
  max-width: 281px;
  right: 0;
}
.ingredients__box {
  position: relative;
  overflow: hidden;
  max-width: 1373px;
  padding: 50px 0;
}
.ingredients__box__card-title {
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 27px;
  font-style: normal;
  letter-spacing: 0;
  color: #2A2A2A;
  padding-bottom: 20px;
}
.ingredients__box__card {
  margin: 15px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  justify-content: space-between;
  max-width: 229px;
  height: 242px;
  background: #FFFFFF 0 0 no-repeat padding-box;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1607843137);
  border-radius: 26px;
  z-index: 1;
}
.ingredients__box__card:hover {
  transition: 250ms ease-in-out;
  transform: scale(1.05);
}
.ingredients__shadow {
  position: absolute;
  z-index: 2;
  left: 0;
  width: 184px;
  height: 302px;
  transform: matrix(-1, 0, 0, -1, 0, 0);
  /* UI Properties */
  background: transparent linear-gradient(270deg, #FFFFFF 0, rgba(255, 255, 255, 0) 100%) 0 0 no-repeat padding-box;
}
.ingredients__shadow-right {
  position: absolute;
  z-index: 2;
  width: 184px;
  height: 302px;
  right: -1px;
  transform: matrix(-1, 0, 0, -1, 0, 0);
  background: transparent linear-gradient(90deg, #ffffff 0, rgba(255, 255, 255, 0) 100%) 0 0 no-repeat padding-box;
}
.ingredients__image-box {
  padding-top: 20px;
  display: flex;
  align-items: flex-start;
}
.ingredients__image-box__image {
  max-width: 194px;
  object-fit: cover;
}
.ingredients__text {
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  font-weight: normal;
  line-height: 27px;
  font-style: normal;
  letter-spacing: 0;
  color: #2A2A2A;
  text-align: center;
}

@media screen and (max-width: 1380px) {
  .ingredients {
    max-width: 1380px;
  }
}
@media screen and (max-width: 1080px) {
  .ingredients {
    max-width: 1080px;
  }
  .ingredients__title {
    font-family: "Poppins", sans-serif;
    font-size: 45px;
    font-weight: 900;
    line-height: 55px;
    font-style: normal;
    letter-spacing: 0;
    color: #2A2A2A;
    margin-bottom: 14px;
  }
  .ingredients__title__text {
    font-family: "Poppins", sans-serif;
    font-size: 14px;
    font-weight: bold;
    line-height: 25px;
    font-style: normal;
    letter-spacing: 0;
    color: #2A2A2A;
    max-width: 400px;
  }
  .ingredients__swiper-container {
    max-width: 600px;
  }
  .ingredients__swiper-slide {
    max-width: 281px;
    right: 70px;
  }
  .ingredients__box {
    overflow: hidden;
    max-width: 600px;
    padding: 30px 0;
  }
  .ingredients__box__card-title {
    font-family: "Poppins", sans-serif;
    font-size: 14px;
    font-weight: 700;
    line-height: 22px;
    font-style: normal;
    letter-spacing: 0;
    color: #2A2A2A;
    padding-bottom: 10px;
  }
  .ingredients__box__card {
    max-width: 140px;
    max-height: 162px;
  }
  .ingredients__image-box > img {
    max-width: 100px !important;
  }
  .ingredients__text {
    max-width: 760px;
    font-family: "Poppins", sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 25px;
    font-style: normal;
    letter-spacing: 0;
    color: #2A2A2A;
  }
}
@media screen and (max-width: 780px) {
  .ingredients {
    max-width: 765px;
    margin: 0 auto 50px;
  }
  .ingredients__title {
    font-family: "Poppins", sans-serif;
    font-size: 35px;
    font-weight: 900;
    line-height: 35px;
    font-style: normal;
    letter-spacing: 0;
    color: #2A2A2A;
    margin-bottom: 14px;
  }
  .ingredients__title__text {
    font-family: "Poppins", sans-serif;
    font-size: 12px;
    font-weight: bold;
    line-height: 18px;
    font-style: normal;
    letter-spacing: 0;
    color: #2A2A2A;
    max-width: 400px;
  }
  .ingredients__shadow {
    width: 50px;
  }
  .ingredients__shadow-right {
    width: 50px;
  }
  .ingredients__swiper-container {
    max-width: 450px;
  }
  .ingredients__swiper-slide {
    max-width: 281px;
    right: -5px;
  }
  .ingredients__box {
    overflow: hidden;
    max-width: 600px;
    padding: 30px 0;
  }
  .ingredients__box__card-title {
    font-family: "Poppins", sans-serif;
    font-size: 14px;
    font-weight: 700;
    line-height: 22px;
    font-style: normal;
    letter-spacing: 0;
    color: #2A2A2A;
    padding-bottom: 10px;
  }
  .ingredients__box__card {
    max-width: 140px;
    max-height: 162px;
  }
  .ingredients__text {
    max-width: 510px;
    font-family: "Poppins", sans-serif;
    font-size: 12px;
    font-weight: 40;
    line-height: 18px;
    font-style: normal;
    letter-spacing: 0;
    color: #2A2A2A;
  }
}
@media screen and (max-width: 500px) {
  .ingredients {
    max-width: 400px;
    margin: 0 auto 100px;
  }
  .ingredients__title {
    font-family: "Poppins", sans-serif;
    font-size: 35px;
    font-weight: 900;
    line-height: 35px;
    font-style: normal;
    letter-spacing: 0;
    color: #2A2A2A;
    margin-bottom: 14px;
  }
  .ingredients__title__text {
    font-family: "Poppins", sans-serif;
    font-size: 12px;
    font-weight: bold;
    line-height: 18px;
    font-style: normal;
    letter-spacing: 0;
    color: #2A2A2A;
    max-width: 360px;
  }
  .ingredients__swiper-container {
    max-width: 380px;
  }
  .ingredients__swiper-slide {
    margin-left: 5px;
    max-width: 281px;
    right: 15px;
  }
  .ingredients__box {
    overflow: hidden;
    max-width: 380px;
    padding: 30px 0;
  }
  .ingredients__box__card-title {
    font-family: "Poppins", sans-serif;
    font-size: 14px;
    font-weight: 700;
    line-height: 22px;
    font-style: normal;
    letter-spacing: 0;
    color: #2A2A2A;
    padding-bottom: 10px;
  }
  .ingredients__box__card {
    max-width: 140px;
    max-height: 162px;
  }
  .ingredients__image-box img {
    max-width: 100px !important;
  }
  .ingredients__text {
    max-width: 360px;
    font-family: "Poppins", sans-serif;
    font-size: 12px;
    font-weight: 40;
    line-height: 18px;
    font-style: normal;
    letter-spacing: 0;
    color: #2A2A2A;
  }
}
.story {
  margin: 0 auto 150px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.story__wrapper {
  display: flex;
  justify-content: space-between;
  gap: 49px;
}
.story__card {
  max-width: 668px;
}
.story__card__title {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 64px;
  line-height: 95px;
  letter-spacing: 0;
  color: #2A2A2A;
  margin-bottom: 20px;
}
.story__card__text {
  font-family: "Poppins", sans-serif;
  font-size: 24px;
  font-weight: 700;
  line-height: 35px;
  font-style: normal;
  letter-spacing: 0;
  color: #2A2A2A;
  margin-bottom: 50px;
}
.story__text {
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 27px;
  font-style: normal;
  letter-spacing: 0;
  color: #2A2A2A;
}
.story__image {
  display: flex;
  align-items: flex-start;
}
.story__image__img {
  object-fit: cover;
  max-width: 635px;
  border-radius: 30px;
}

@media screen and (max-width: 1380px) {
  .story {
    max-width: 1380px;
  }
  .story__wrapper {
    gap: 20px;
    max-width: 1065px;
  }
  .story__card__title {
    margin-bottom: 0;
  }
  .story__card__text {
    margin-bottom: 20px;
  }
  .story__image {
    align-items: stretch;
  }
  .story__image__img {
    max-width: 520px;
  }
}
@media screen and (max-width: 1080px) {
  .story {
    max-width: 1080px;
  }
  .story__wrapper {
    display: block;
    max-width: 765px;
    position: relative;
    padding: 20px 0 0 20px;
  }
  .story__card {
    max-width: 765px;
    margin-bottom: 475px;
  }
  .story__card__title {
    font-family: "Poppins", sans-serif;
    font-size: 45px;
    font-weight: 900;
    line-height: 55px;
    font-style: normal;
    letter-spacing: 0;
    color: #2A2A2A;
    color: #fdf2e6;
    margin-bottom: 10px;
  }
  .story__card__text {
    font-family: "Poppins", sans-serif;
    font-size: 14px;
    font-weight: bold;
    line-height: 25px;
    font-style: normal;
    letter-spacing: 0;
    color: #2A2A2A;
    color: #fdf2e6;
    margin-bottom: 12px;
  }
  .story__text {
    font-family: "Poppins", sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 25px;
    font-style: normal;
    letter-spacing: 0;
    color: #2A2A2A;
    color: #fdf2e6;
  }
  .story__image {
    position: absolute;
    top: -20px;
    left: 50%;
    transform: translateX(-50%);
    z-index: -1;
    align-items: flex-start;
    background-color: #000000;
  }
  .story__image__img {
    max-width: 1080px;
  }
}
@media screen and (max-width: 780px) {
  .story {
    margin: 0 auto -130px;
    max-width: 765px;
  }
  .story__wrapper {
    display: block;
    max-width: 500px;
  }
  .story__card {
    max-width: 765px;
    margin-bottom: 475px;
  }
  .story__card__title {
    font-family: "Poppins", sans-serif;
    font-size: 35px;
    font-weight: 900;
    line-height: 35px;
    font-style: normal;
    letter-spacing: 0;
    color: #2A2A2A;
    color: #fdf2e6;
    margin-bottom: 10px;
  }
  .story__card__text {
    font-family: "Poppins", sans-serif;
    font-size: 12px;
    font-weight: bold;
    line-height: 18px;
    font-style: normal;
    letter-spacing: 0;
    color: #2A2A2A;
    color: #fdf2e6;
    margin-bottom: 12px;
  }
  .story__text {
    font-family: "Poppins", sans-serif;
    font-size: 12px;
    font-weight: 400;
    line-height: 18px;
    font-style: normal;
    letter-spacing: 0;
    color: #2A2A2A;
    text-shadow: 2px 1px 0 #000000, 1px 2px 0 #000000;
    color: #fdf2e6;
  }
  .story__image__img {
    max-width: 765px;
  }
}
@media screen and (max-width: 500px) {
  .story {
    margin: 0 auto -300px;
    max-width: 400px;
  }
  .story__wrapper {
    margin: 0 auto;
    display: block;
    max-width: 380px;
  }
  .story__card {
    max-width: 380px;
    margin-bottom: 475px;
  }
  .story__card__title {
    font-family: "Poppins", sans-serif;
    font-size: 35px;
    font-weight: 900;
    line-height: 35px;
    font-style: normal;
    letter-spacing: 0;
    color: #2A2A2A;
    color: #fdf2e6;
    margin-bottom: 10px;
  }
  .story__card__text {
    font-family: "Poppins", sans-serif;
    font-size: 12px;
    font-weight: bold;
    line-height: 18px;
    font-style: normal;
    letter-spacing: 0;
    color: #2A2A2A;
    color: #fdf2e6;
    margin-bottom: 12px;
  }
  .story__text {
    font-family: "Poppins", sans-serif;
    font-size: 12px;
    font-weight: 400;
    line-height: 18px;
    font-style: normal;
    letter-spacing: 0;
    color: #2A2A2A;
    text-shadow: 2px 1px 0 #000000, 1px 2px 0 #000000;
    color: #fdf2e6;
  }
  .story__image__img {
    max-width: 600px;
  }
}
.burgers {
  margin: 0 auto 150px;
  max-width: 1373px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.burgers__wrapper {
  display: flex;
  justify-content: space-between;
  gap: 16px;
}
.burgers__title {
  text-align: center;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 64px;
  line-height: 95px;
  letter-spacing: 0;
  color: #2A2A2A;
}
.burgers__swiper-container {
  position: relative;
  max-width: 1372px;
  padding: 50px 0;
  overflow: hidden;
}
.burgers__swiper-slide {
  max-width: 440px !important;
  width: 100%;
  left: 22px;
}
.burgers__shadow {
  position: absolute;
  z-index: 2;
  top: 20%;
  left: 0;
  width: 184px;
  height: 480px;
  transform: matrix(-1, 0, 0, -1, 0, 0);
  /* UI Properties */
  background: transparent linear-gradient(270deg, #FFFFFF 0, rgba(255, 255, 255, 0) 100%) 0 0 no-repeat padding-box;
}
.burgers__shadow-right {
  position: absolute;
  z-index: 2;
  width: 184px;
  height: 480px;
  top: 20%;
  right: -1px;
  transform: matrix(-1, 0, 0, -1, 0, 0);
  background: transparent linear-gradient(90deg, #ffffff 0, rgba(255, 255, 255, 0) 100%) 0 0 no-repeat padding-box;
}
.burgers__box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 440px;
  background: #FFFFFF 0 0 no-repeat padding-box;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1607843137);
  border-radius: 26px;
}
.burgers__box__title {
  margin: 20px 0 61px;
  font-family: "Poppins", sans-serif;
  font-size: 24px;
  font-weight: 700;
  line-height: 35px;
  font-style: normal;
  letter-spacing: 0;
  color: #2A2A2A;
}
.burgers__box:hover {
  transition: 250ms ease-in-out;
  transform: scale(1.05);
}
.burgers__image {
  display: flex;
}
.burgers__image__img {
  max-width: 220px;
  object-fit: cover;
  padding: 61px 110px 42px;
}
.burgers__link {
  margin: 0 20px 20px 0;
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 27px;
  font-style: normal;
  letter-spacing: 0;
  color: #2A2A2A;
  color: #008BF6;
  align-self: flex-end;
}
.burgers__link:hover {
  transition: 250ms ease-in-out;
  transform: scale(1.1);
}
.burgers__link:active {
  transition: 50ms ease-in-out;
  transform: scale(1.2);
}
.burgers__btn {
  padding: 9px 29px 6px 33px;
  max-width: 161px;
  width: 100%;
  background: #00B3FA;
  border-radius: 10px;
  border: none;
  text-align: center;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  letter-spacing: 0;
  color: #2A2A2A;
}
.burgers__btn:hover {
  transition: 250ms ease-in-out;
  transform: scale(1.05);
  border: 1px black solid;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1607843137);
}
.burgers__btn:hover:active {
  transition: 50ms ease-in-out;
  transform: scale(1.1);
  border: 1px black solid;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1607843137);
}

@media screen and (max-width: 1380px) {
  .burgers__swiper-slide {
    left: 25px;
  }
  .burgers__image__img {
    padding: 0;
  }
  .burgers__box__title {
    margin: 20px 0 31px;
  }
  .burgers__btn {
    margin: 0 0 10px 160px;
  }
}
@media screen and (max-width: 1080px) {
  .burgers__wrapper {
    max-width: 880px;
  }
  .burgers__title {
    font-family: "Poppins", sans-serif;
    font-size: 45px;
    font-weight: 900;
    line-height: 55px;
    font-style: normal;
    letter-spacing: 0;
    color: #2A2A2A;
  }
  .burgers__swiper-slide {
    left: 0;
  }
  .burgers__image__img {
    padding: 0;
  }
  .burgers__box__title {
    margin: 20px 0 31px;
  }
}
@media screen and (max-width: 780px) {
  .burgers {
    margin-bottom: 50px;
  }
  .burgers__wrapper {
    max-width: 500px;
  }
  .burgers__title {
    font-family: "Poppins", sans-serif;
    font-size: 35px;
    font-weight: 900;
    line-height: 35px;
    font-style: normal;
    letter-spacing: 0;
    color: #2A2A2A;
  }
  .burgers__image__img {
    padding: 0;
    margin-bottom: 20px;
  }
  .burgers__box__title {
    font-family: "Poppins", sans-serif;
    font-size: 15px;
    font-weight: 700;
    line-height: 24px;
    font-style: normal;
    letter-spacing: 0;
    color: #2A2A2A;
    margin: 20px 0;
  }
  .burgers__shadow {
    width: 50px;
  }
  .burgers__shadow-right {
    width: 50px;
  }
  .burgers__btn {
    font-family: "Poppins", sans-serif;
    font-size: 14px;
    font-weight: 700;
    line-height: 18px;
    font-style: normal;
    letter-spacing: 0;
    color: #2A2A2A;
    text-align: center;
  }
  .burgers__link {
    font-family: "Poppins", sans-serif;
    font-size: 12px;
    font-weight: 700;
    line-height: 16px;
    font-style: normal;
    letter-spacing: 0;
    color: #2A2A2A;
    color: #008BF6;
    align-self: center;
    padding: 0;
    margin: 0 0 20px;
  }
}
@media screen and (max-width: 500px) {
  .burgers {
    max-width: 500px;
    margin-bottom: 50px;
  }
  .burgers__wrapper {
    max-width: 500px;
  }
  .burgers__title {
    font-family: "Poppins", sans-serif;
    font-size: 35px;
    font-weight: 900;
    line-height: 35px;
    font-style: normal;
    letter-spacing: 0;
    color: #2A2A2A;
  }
  .burgers__swiper-container {
    max-width: 400px;
  }
  .burgers__image__img {
    padding: 0;
    margin-bottom: 20px;
  }
  .burgers__box__title {
    font-family: "Poppins", sans-serif;
    font-size: 25px;
    font-weight: 700;
    line-height: 32px;
    font-style: normal;
    letter-spacing: 0;
    color: #2A2A2A;
    margin: 20px 0;
  }
  .burgers__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .burgers__btn {
    margin: 0;
    padding: 30px 5px;
    white-space: nowrap;
    font-family: "Poppins", sans-serif;
    font-size: 25px;
    font-weight: 700;
    line-height: 14px;
    font-style: normal;
    letter-spacing: 0;
    color: #2A2A2A;
    text-align: center;
  }
  .burgers__link {
    font-family: "Poppins", sans-serif;
    font-size: 12px;
    font-weight: 700;
    line-height: 16px;
    font-style: normal;
    letter-spacing: 0;
    color: #2A2A2A;
    color: #008BF6;
    align-self: center;
    padding: 0;
    margin: 0 0 20px;
  }
}
.location {
  margin: 0 auto 150px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.location__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.location__title {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 64px;
  line-height: 95px;
  letter-spacing: 0;
  color: #2A2A2A;
  margin-bottom: 30px;
}
.location__box {
  display: flex;
  justify-content: space-between;
  gap: 30px;
}
.location__box__text {
  font-family: "Poppins", sans-serif;
  font-size: 24px;
  font-weight: 400;
  line-height: 35px;
  font-style: normal;
  letter-spacing: 0;
  color: #2A2A2A;
  margin-bottom: 30px;
}
.location__box__text:first-child {
  font-weight: 700;
}
.location__map {
  overflow: hidden;
  border-radius: 30px;
}
.location__map__marker {
  width: 36px;
  height: 33px;
  padding: 9px 7px 8px 7px;
  background-color: #FFFFFF;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1607843137);
  border-radius: 50%;
}

@media screen and (max-width: 1380px) {
  .location {
    max-width: 1380px;
  }
  .location__wrapper {
    max-width: 1065px;
  }
}
@media screen and (max-width: 1080px) {
  .location {
    max-width: 1080px;
  }
  .location__wrapper {
    max-width: 765px;
  }
  .location__title {
    font-family: "Poppins", sans-serif;
    font-size: 45px;
    font-weight: 900;
    line-height: 55px;
    font-style: normal;
    letter-spacing: 0;
    color: #2A2A2A;
  }
  .location__box__text {
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    font-style: normal;
    letter-spacing: 0;
    color: #2A2A2A;
  }
}
@media screen and (max-width: 780px) {
  .location {
    max-width: 1080px;
  }
  .location__wrapper {
    max-width: 765px;
  }
  .location__title {
    font-family: "Poppins", sans-serif;
    font-size: 35px;
    font-weight: 900;
    line-height: 35px;
    font-style: normal;
    letter-spacing: 0;
    color: #2A2A2A;
  }
  .location__box {
    gap: 20px;
  }
  .location__box__text {
    font-family: "Poppins", sans-serif;
    font-size: 12px;
    font-weight: 400;
    line-height: 18px;
    font-style: normal;
    letter-spacing: 0;
    color: #2A2A2A;
    margin-bottom: 16px;
  }
  .location__box__text:first-child {
    font-weight: 700;
  }
}
@media screen and (max-width: 500px) {
  .location {
    max-width: 1080px;
    margin-bottom: 50px;
  }
  .location__wrapper {
    max-width: 765px;
  }
  .location__title {
    font-family: "Poppins", sans-serif;
    font-size: 35px;
    font-weight: 900;
    line-height: 35px;
    font-style: normal;
    letter-spacing: 0;
    color: #2A2A2A;
  }
  .location__box {
    gap: 15px;
  }
  .location__box__text {
    font-family: "Poppins", sans-serif;
    font-size: 10px;
    font-weight: 400;
    line-height: 14px;
    font-style: normal;
    letter-spacing: 0;
    color: #2A2A2A;
    margin-bottom: 16px;
  }
  .location__box__text:first-child {
    font-weight: 700;
  }
}
html {
  width: 100vw;
  overflow-x: hidden;
}

body {
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow-x: hidden;
  -webkit-overflow-scrolling: touch;
}

.container {
  position: relative;
  margin: 0 auto;
  max-width: 1920px;
}

@media screen and (max-width: 1380px) {
  .container {
    max-width: 1380px;
  }
}
@media screen and (max-width: 1080px) {
  .container {
    max-width: 1080px;
  }
}
@media screen and (max-width: 765px) {
  .container {
    max-width: 765px;
  }
}
@media screen and (max-width: 500px) {
  .container {
    max-width: 500px;
  }
}

/*# sourceMappingURL=index.css.map */
