@import "stylesheets/reset.css";
@import "stylesheets/mixins";
@import "stylesheets/header";
@import "stylesheets/footer";
@import "stylesheets/main";
@import "stylesheets/ingredients";
@import "stylesheets/story";
@import "stylesheets/burgers";
@import "stylesheets/location";
@import "~@tomtom-international/web-sdk-maps/dist/maps.css";
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700;900&display=swap');

html {
  width:100vw;
  overflow-x:hidden;
}
body {
  width:100vw;
  @include flex-column-center;
  overflow-x: hidden;
 -webkit-overflow-scrolling: touch;

}

.container {

  //overflow-x: hidden;
  //-webkit-overflow-scrolling: touch;
  position: relative;
  margin: 0 auto;
  max-width: 1920px;
}

@media screen and (max-width: 1380px) {
  .container{
  max-width: 1380px;
  }
}

@media screen and (max-width: 1080px) {
  .container{
    max-width: 1080px;
  }
}
@media screen and (max-width: 765px) {
  .container{
    max-width: 765px;
  }
}
@media screen and (max-width: 500px) {
  .container{
    max-width: 500px;
  }
}

