@import "stylesheets/reset.css";
@import "~@tomtom-international/web-sdk-maps/dist/maps.css";
.header {
  max-width: 1920px;
  width: 100%;
  position: fixed;
  left: 50%;
  transform: translateX(-50%);
  background-color: #FFFFFF;
  z-index: 99;
  display: flex;
  align-items: center;
}
.header__wrapper {
  margin: 29px 0;
  display: flex;
  align-items: center;
}
.header__logo {
  display: flex;
  cursor: pointer;
}
.header__logo__image {
  max-width: 208px;
  object-fit: cover;
}
.header__box {
  margin-left: 102px;
  display: flex;
  display: -webkit-flex;
  align-items: center;
  justify-content: space-between;
  gap: 70px;
}
.header__link {
  border-radius: 5px;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  letter-spacing: 0;
  color: #2A2A2A;
  cursor: pointer;
}
.header__link:hover {
  transition: 250ms ease-in-out;
  transform: scale(1.1);
}
.header__link__active {
  transform: scale(1.1);
}
.header__button {
  margin-left: 329px;
  cursor: pointer;
  padding: 9px 29px 6px 33px;
  max-width: 161px;
  width: 100%;
  background: #00B3FA;
  border-radius: 10px;
  border: none;
  text-align: center;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  letter-spacing: 0;
  color: #2A2A2A;
}

@media screen and (max-width: 1380px) {
  .header__box {
    gap: 40px;
  }
  .header__button {
    margin-left: 129px;
  }
}
.footer {
  display: flex;
  padding: 0 284px;
  align-items: center;
  background: #F5F5F5 0 0 no-repeat padding-box;
  margin-bottom: 150px;
}
.footer__wrapper {
  margin: 29px 0;
  display: flex;
  gap: 1013px;
  align-items: center;
}
.footer__logo {
  display: flex;
  cursor: pointer;
}
.footer__logo__image {
  max-width: 208px;
  object-fit: cover;
}
.footer__box {
  width: 131px;
}
.footer__title {
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  font-weight: 700;
  line-height: 21px;
  font-style: normal;
  letter-spacing: 0;
  color: #2A2A2A;
}
.footer__text {
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  font-style: normal;
  letter-spacing: 0;
  color: #2A2A2A;
}

@media screen and (max-width: 1380px) {
  .footer__wrapper {
    margin: 29px 0;
    display: flex;
    gap: 783px;
    align-items: center;
  }
}
.main {
  position: relative;
  margin-top: 125px;
  margin-bottom: 150px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.main__background {
  position: absolute;
  max-height: 604px;
  z-index: -1;
}
.main__wrapper {
  display: flex;
  justify-content: space-between;
  gap: 67px;
  padding-top: 49px;
}
.main__box {
  padding-top: 142px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.main__title {
  font-family: "Poppins", sans-serif;
  font-size: 84px;
  font-weight: 900;
  line-height: 125px;
  font-style: normal;
  letter-spacing: 0;
  color: #2A2A2A;
  margin-bottom: 20px;
}
.main__text {
  font-family: "Poppins", sans-serif;
  font-size: 24px;
  font-weight: bold;
  line-height: 35px;
  font-style: normal;
  letter-spacing: 0;
  color: #2A2A2A;
  margin-bottom: 20px;
}
.main__button {
  padding: 8px 26px 7px 27px;
  background: #F6E224 0 0 no-repeat padding-box;
  border-radius: 10px;
  border: none;
  cursor: pointer;
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  font-weight: bold;
  line-height: 27px;
  font-style: normal;
  letter-spacing: 0;
  color: #2A2A2A;
}
.main__logo {
  display: flex;
}
.main__logo__image {
  max-width: 625px;
  width: 100%;
  object-fit: cover;
}

@media screen and (max-width: 1380px) {
  .main {
    margin-bottom: 50px;
  }
  .main__background {
    max-width: 1380px;
  }
  .main__wrapper {
    gap: 0;
  }
  .main__box {
    padding-top: 82px;
  }
  .main__logo__image {
    max-width: 525px;
  }
}
.swiper-slide {
  max-width: 281px;
  right: 125px;
}

.swiper-container {
  max-width: 1072px;
}

.ingredients {
  margin-bottom: 150px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.ingredients__wrapper {
  max-width: 1072px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.ingredients__title {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 64px;
  line-height: 95px;
  letter-spacing: 0;
  color: #2A2A2A;
  text-align: center;
  margin-bottom: 20px;
}
.ingredients__title__text {
  font-family: "Poppins", sans-serif;
  font-size: 24px;
  font-weight: bold;
  line-height: 35px;
  font-style: normal;
  letter-spacing: 0;
  color: #2A2A2A;
  text-align: center;
  max-width: 690px;
  margin-bottom: 50px;
}
.ingredients__box {
  overflow: hidden;
  max-width: 1373px;
  gap: 52px;
  margin-bottom: 50px;
}
.ingredients__box__card-title {
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 27px;
  font-style: normal;
  letter-spacing: 0;
  color: #2A2A2A;
  padding-bottom: 20px;
}
.ingredients__box__card {
  margin: 15px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  justify-content: space-between;
  max-width: 229px;
  height: 242px;
  background: #FFFFFF 0 0 no-repeat padding-box;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1607843137);
  border-radius: 26px;
}
.ingredients__box__card:hover {
  transition: 250ms ease-in-out;
  transform: scale(1.05);
}
.ingredients__image-box {
  padding-top: 20px;
  display: flex;
}
.ingredients__image-box__image {
  max-width: 194px;
  object-fit: cover;
}
.ingredients__text {
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  font-weight: normal;
  line-height: 27px;
  font-style: normal;
  letter-spacing: 0;
  color: #2A2A2A;
  text-align: center;
}

.story {
  margin-bottom: 150px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.story__wrapper {
  display: flex;
  justify-content: space-between;
  gap: 49px;
}
.story__card {
  max-width: 668px;
}
.story__card__title {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 64px;
  line-height: 95px;
  letter-spacing: 0;
  color: #2A2A2A;
  margin-bottom: 20px;
}
.story__card__text {
  font-family: "Poppins", sans-serif;
  font-size: 24px;
  font-weight: 700;
  line-height: 35px;
  font-style: normal;
  letter-spacing: 0;
  color: #2A2A2A;
  margin-bottom: 50px;
}
.story__text {
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 27px;
  font-style: normal;
  letter-spacing: 0;
  color: #2A2A2A;
}
.story__image {
  display: flex;
}
.story__image__img {
  object-fit: cover;
  max-width: 635px;
}

.burgers {
  margin: 0 auto 150px;
  max-width: 1373px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}
.burgers__wrapper {
  display: flex;
  justify-content: space-between;
  gap: 16px;
  margin-bottom: 50px;
}
.burgers__title {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 64px;
  line-height: 95px;
  letter-spacing: 0;
  color: #2A2A2A;
  margin-bottom: 50px;
}
.burgers__box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 440px;
  background: #FFFFFF 0 0 no-repeat padding-box;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1607843137);
  border-radius: 26px;
}
.burgers__box__title {
  margin: 20px 0 61px;
  font-family: "Poppins", sans-serif;
  font-size: 24px;
  font-weight: 700;
  line-height: 35px;
  font-style: normal;
  letter-spacing: 0;
  color: #2A2A2A;
}
.burgers__image {
  display: flex;
}
.burgers__image__img {
  max-width: 220px;
  object-fit: cover;
  padding: 61px 110px 42px;
}
.burgers__link {
  margin: 0 20px 20px 0;
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 27px;
  font-style: normal;
  letter-spacing: 0;
  color: #2A2A2A;
  color: #008BF6;
  align-self: flex-end;
}
.burgers__btn {
  padding: 9px 29px 6px 33px;
  max-width: 161px;
  width: 100%;
  background: #00B3FA;
  border-radius: 10px;
  border: none;
  text-align: center;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  letter-spacing: 0;
  color: #2A2A2A;
}

.location {
  margin-bottom: 150px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.location__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.location__title {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 64px;
  line-height: 95px;
  letter-spacing: 0;
  color: #2A2A2A;
  margin-bottom: 30px;
}
.location__box {
  display: flex;
  justify-content: space-between;
  gap: 30px;
}
.location__box__text {
  font-family: "Poppins", sans-serif;
  font-size: 24px;
  font-weight: 400;
  line-height: 35px;
  font-style: normal;
  letter-spacing: 0;
  color: #2A2A2A;
  margin-bottom: 30px;
}
.location__box__text:first-child {
  font-weight: 700;
}
.location__map {
  overflow: hidden;
  border-radius: 30px;
}
.location__map__marker {
  width: 36px;
  height: 33px;
  padding: 9px 7px 8px 7px;
  background-color: #FFFFFF;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1607843137);
  border-radius: 50%;
}

#root {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.container {
  margin: 0 auto;
  max-width: 1920px;
}

/*# sourceMappingURL=index.css.map */
